*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    gap: 50px;
}
.number_1 p{
    box-shadow: 0 3px orange;
}
.number_2 p {
    box-shadow: 0 3px rgb(0, 255, 145);
}
.number_3 p {
    box-shadow: 0 3px violet;
}
.numb-1, .numb-2, .numb-3{
    display: flex;
}

/* Reponsive */
@media only screen and (max-width=600px) {
    .number{
        display: flex;
        flex-direction: column;
    }
}